// Variables
// ------------------------------------------------
$color-black: #000000;
$color-green: #80C342;
$color-blue: #6ECDE6;
$color-gray-1: #f7f7f7;

// Button
// ------------------------------------------------
.btn {
    &.btn-primary {
        background-color: $color-green;
    }

    &.btn-success {
        background-color: $color-blue;
    }
}

// Logo
// ------------------------------------------------
header {
    &.header {
        .logo {
            .header-logo {
                width: 100px;
                height: 32px;
                margin-left: 4px;
                background-image: url('http://handigo.run/img/logo-travigo-single-white.svg');
                background-size: 100px 32px;

                @media screen and (max-width: 767px) {
                    margin-left: 7px;
                }
            }
        }
    }
}

// Other
// ------------------------------------------------
a,
.modal5ms.a {
    border-bottom: 0;
    color: $color-green;
}

.block-title,
.markdowned h3,
.markdowned-blog h3,
.page-content h3,
.template-travel-to .trips-head,
.trips .trip-ticket {
    border-color: $color-green;
}

.note.note-success {
    border-color: $color-green !important;
}

.datepicker table tr td.active.active {
    background-color: $color-green;
    border-color: $color-green;
}

.note.note-info {
    background-color: $color-gray-1;
}

// Introduction paragraph
// ------------------------------------------------
.lang-cn,
.lang-de,
.lang-en,
.lang-es,
.lang-fr,
.lang-jp,
.lang-ru,
.lang-th,
.lang-vi {
    h1 {
        &.page-title {
            font-size: 0;

            &:before {
                font-size: 20px;

                @media (min-width: 992px) {
                    font-size: 36px;
                }
            }
        }
    }
}

.lang-cn {
    h1 {
        &.page-title {
            &:before {
                content: '泰国旅行计划-巴士，渡轮，班机，铁路';
            }
        }
    }
}

.lang-de {
    h1 {
        &.page-title {
            &:before {
                content: 'Reiseplanung für Busse, Fähren, Flüge und Zugfahrkarten in Thailand.';
            }
        }
    }
}

.lang-en {
    h1 {
        &.page-title {
            &:before {
                content: 'Travel Planning in Thailand — Book Trains, Buses, Ferries, Transfers & Flights';
            }
        }
    }
}

.lang-es {
    h1 {
        &.page-title {
            &:before {
                content: 'Confirmación instantánea de asientos en autobuses, barcos, vuelos y trenes del Tailandia.';
            }
        }
    }
}

.lang-fr {
    h1 {
        &.page-title {
            &:before {
                content: 'Confirmation de siège instantanée pour les autobus, les ferries, les vols et les chemins de fer en Thaïlande';
            }
        }
    }
}

.lang-jp {
    h1 {
        &.page-title {
            &:before {
                content: 'タイで一番のバス、鉄道、フェリー、飛行機のオンライン予約サイト';
            }
        }
    }
}

.lang-ru {
    h1 {
        &.page-title {
            &:before {
                content: 'Все билеты на автобусы, паромы, перелеты и ж/д в Таиланд';
            }
        }
    }
}

.lang-th {
    h1 {
        &.page-title {
            &:before {
                content: 'มั่นใจว่าได้ที่นั่งแน่นอนสำหรับ รถโดยสาร เรือเฟอร์รี่ เครื่องบิน และรถไฟ ในประเทศไทย';
            }
        }
    }
}

.lang-vi {
    h1 {
        &.page-title {
            &:before {
                content: 'Kế hoạch du lịch tại nước Thái Lan - xe buýt, tàu phà, máy bay, tàu hỏa';
            }
        }
    }
}

// Main class for table with list of available routes
// ------------------------------------------------
.one2go-timetable {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Header for each of route
// ------------------------------------------------
.one2go-route-header {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Route subtable header container
// ------------------------------------------------
.one2go-route-detail {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Container for link on route detail
// ------------------------------------------------
.one2go-route-name {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Container with average time of trip
// ------------------------------------------------
.one2go-route-duration {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Container with currency and price
// ------------------------------------------------
.one2go-route-price {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// TD that contains list of departures and buses types
// ------------------------------------------------
.one2go-trips {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Class for SPAN that contains bus type
// ------------------------------------------------
.one2go-class {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox

// Class for SPAN that contains bus departure time
// ------------------------------------------------
.one2go-departures {
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    // overflow: auto;
    // max-height: calc(100vh - 549px);

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>

    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE
// Safari
// Firefox
